<nav>
    <div class="site-title">
        <a href="/"><h1>JOB HUNT PROGRESS</h1></a>
        <p>KEEP TRACK | DO BETTER | GET HIRED</p>
    </div>
    <ul>
        <!-- HOME -->
        <li>
            <a href="/">
                Home
            </a>
        </li>
        <!-- ABOUT -->
        <li>
            <a href="/about">
                About
            </a>
        </li>
        <!-- CREATE -->
        <li>
            <a href="/progress/create">
                Create
            </a>
        </li>
    </ul>
</nav>