<nav>
    <div class="site-title">
        <a href="/"><h1>JOB HUNT PROGRESS</h1></a>
        <p>KEEP TRACK | DO BETTER | GET HIRED</p>
    </div>
    <ul>
      <!-- HOME -->
      <li>
          <a href="/">
              <img src="/images/home.svg" alt="home icon">
          </a>
      </li>
       <!-- ABOUT -->
      <li>
          <a href="/about">
              <img src="/images/about.svg" alt="about icon">
          </a>
      </li>
      <!-- CREATE -->
      <li>
          <a href="/progress/create">
              <img src="/images/create.svg" alt="create icon">
         </a>
      </li>
  </ul>
</nav>
