<html lang="en">
  <%- include('./partials/head.ejs')%>
<body>

  <%- include('./partials/nav.ejs')%>

  <div class="about content">
    <h2>About Us</h2>
    <p class="about">
      The primary objective of <b>Job Hunt Progress</b> website is to serve as a comprehensive and invaluable resource to assist individuals in their pursuit of new career opportunities. In an ever-evolving job market, where competition is fierce and job seekers are often faced with numerous challenges, this platform aims to provide a robust and organized framework that streamlines the entire job hunting journey. </p>
  </div>

</body>
</html>

  <%- include('./partials/footer.ejs')%>
  
</body>
</html>